@font-face {
  font-family: 'AlmostJapanese';
  src: url('../../../assets/almostJapanese.ttf');
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

body button,
body input {
  -webkit-app-region: no-drag;
}

body img {
  -webkit-user-drag: none;
}

#root {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}


#app {
  margin-top: 150px;
  margin-left: 50px;
  position: relative;
}
